{{define "layout"}}
	<html>
		{{ template "head" .}}
		<body>
			{{ template "content" .}}
			{{ template "scripts" .}}
			{{ template "styles"}}
		</body>
	</html>
{{ end }}

<!-- we can add some defaults -->
{{define "scripts"}}
{{end}}
{{define "head"}}
{{end}}
{{define "content"}}
{{end}}
{{define "styles"}}
{{end}}
