{{define "content"}}
	<a href="/?location={{urlquery .location}}">Search again</a>
	<div class="gopher" >
		<!--
			DRESS YOUR GOPHER HERE!!
			1. Add the function clothes to the helpers FuncMap

			2. Range over the clothes and create <div> element with
			class="[piece]" for every piece. One div per clothing piece.

			Example if the result of clothes is []string{"umbrella", "tshirt"}
			Your output should be
			<div class="umbrella"></div><div class="tshirt"></div>
		-->




	</div>
	<p class="description">The weather in {{ (title .location) }} is {{ .description }} at {{ .celsius }}°C</p>
{{end}}

{{define "title"}}
	<title>Weather Forecast in {{.location}}</title>
{{end}}

{{define "styles"}}
	<link rel="stylesheet" href="styles/widget.css">
{{end}}
