{{define "title"}}
	<title>Weather Forecast in {{.location}}</title>
{{end}}

{{define "content"}}
	<form action="/">
		<button onclick="goBack()">Go Back</button>
	</form>
	<div class="base" >
		{{range clothe .description .celsius}}
			<div class="{{.}}"></div>
		{{end}}
	</div>
	<p class="description">The weather in {{ (title .location) }} is {{ .description }} at {{ .celsius }}°C</p>
{{end}}

{{define "styles"}}
	<link rel="stylesheet" href="styles/widget.css">
{{end}}

{{define "scripts"}}
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
{{end}}

