{{define "content"}}
	<a href="/?query={{.location}}">Search again</a>
	<div class="base" >
		<!--
				DRESS YOUR GOPHER HERE!!
				add the function clothes to the helpers FuncMap
				range over the clothes and create dives with class="piece"
				for every piece.
				e.g. if the result of clothes is []string{"umbrella", "tshirt"}
				Your output should be <div class="umbrella"/><div class="tshirt"/>
			-->
	</div>
	<p class="description">The weather in {{ (title .location) }} is {{ .description }} at {{ .celsius }}°C</p>
{{end}}

{{define "title"}}
	<title>Weather Forecast in {{.location}}</title>
{{end}}

{{define "styles"}}
	<link rel="stylesheet" href="styles/widget.css">
{{end}}
