{{define "layout"}}
	<HTML>
		{{ template "head" .}}
		<BODY>
			{{ template "content" .}}
		</BODY>
	</HTML>
{{ end }}

<!-- we can add some defaults -->
{{define "head"}}
{{end}}
{{define "content"}}
{{end}}
